#cont1{
    font-family: "Lato", sans-serif;
    background-color: rgb(228, 234, 237);
    display:inline-block;
    align-items: center;
    height: 200vh;
}



input[type="file"]::file-selector-button{
    padding: 5px 10px;
    border-radius: 10px;
    border:none;
    color:#fff;
    letter-spacing: 3px;
    font-size: 16px;
    cursor:pointer;
    background-color: rgb(21, 114, 235);
    transition: 0.5s all;
}
input[type="file"]:hover::file-selector-button{
    background-color: rgb(230, 238, 68);
   
}

div.form-group{
    width: 50%;
    margin:auto
}
div.form-text{
    margin: auto;
    text-align:center;
}