{% extends 'base.html' %}
{% block title %}
   Home
{% endblock %}

{% block mainA %}

   <div class="card mb-3" style="background-color: #ede262">
      <img src=static\iStock-1295258414.jpg class="card-img-top" >
      <div class="card-body">
         <h3 class="card-title" style="color:#4d6883">ReadMe</h3>
         <p class="card-text" style="color:#4d6883">This is my final CS50 Project. It can read a PDF page using Text-To-Speech Google API cloud</p>
         
         <p class="card-text"><small class="text-muted">&copy; Manel Tahir 2022</small></p>
      </div>
   </div>
{% endblock mainA %}

